/****************footer****************/
.main-footer{background: #eaffc4;
	padding: 20px 0;
	p {
		display: inline-table;
		:last-child{float: right;}
	}
}
/********************************************/