.flex-context {
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
    flex-flow: row wrap; 
	-webkit-box-pack: justify; 
	-webkit-justify-content: space-between; 
	-ms-flex-pack: justify; 
    justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
    align-items: stretch;
}

.flex-context > div {
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	        flex-grow:1; 
}

/*******for old browsers***********/
.no-flexbox .flex-context {display: table;}
.no-flexbox .flex-context div {background: red; float: left;}
.no-flexbox .flex-context .inner p {height: 150px; overflow: hidden;}


