button,
input,
select,
textarea {
    color: inherit; font-family: inherit;
    font-style: inherit; font-weight: inherit; }

input{padding: 5px 10px; width: 100%;
	line-height: 2;}

label{display: inline-block;
	width: 100%;}



form{max-width: 600px; margin-left: auto; margin-right: auto;}

form > * + * {margin-top: 20px;}

/***media***/
@media all and (min-width: 50em){ /*800px*/
	label{width: 49%;}
}