/****************sidebox****************/
.side-box * + * {margin-top: 20px;} 
.side-box {padding: 20px;
	background: #fff9ba; color: #333;}

/****************main sliderr****************/
.hero-slider{display: table;
	width: 100%; position: relative;}
.hero-slider img {max-width: 100%; width: 100%;}


/****************header_top bar****************/

/*** header_top bar v1 ***/
.main-header_top{background: #eaffc4; padding: 5px 0; }
.main-header_top_social {display: inline;}
.main-header_top_social li{
	display: inline-block; padding: 5px 0; }
.main-header_top_social > li+li{margin-left: 2%;}
.main-header_top_search-form {display: inline;
	float: right;}

/*** header_top bar v2 ***/
.main-header_top-v2 {background: #f5ffc6; padding: 20px 0;}	
.main-header_top-v2_social{text-align: right; display: inline-block; width: 60%;}
.main-header_top-v2_social li{
	display: inline-block; padding: 5px 0; }
.main-header_top-v2_social > li+li{margin-left: 2%;}
.main-header_top-v2-logo {width: 40%;}

/****************main cta****************/
.main-cta * + * {margin-top: 20px; }
.main-cta {width: 100%; max-width: 100%;
	margin-top: 20px; background: #fff9ba;
	position: relative; padding-bottom: 60px;}
.main-cta_image	{width: 100%;}
.main-cta_content {padding: 20px 5%;
	margin-top: 0;}
.main-cta_btn{position: absolute;
	bottom: 20px;}
/*** media ***/
@media all and (min-width: 600px){
	.main-cta {width: 48%; max-width: 48%;}
}
@media all and (min-width: 1000px){
	.main-cta {width: 24%; max-width: 24%;}
}
/*** old browsers ***/
.no-flexbox .main-cta_header {height: 2.5em; overflow: hidden;}
.no-flexbox .main-cta_content {height: 12em; overflow: hidden;}


/****************form****************/
input{padding: 5px 10px;}


.main-footer{background: #eaffc4;
	padding: 20px 0;}
.main-footer p {display: inline-table;}
.main-footer p:last-child{float: right;}