/***************Button***********************/
.btn {padding: 10px 20px; background: #93ae64;
	text-transform: uppercase;
	color: #fff!important; border-radius: 3px;
	font-weight: bold; font-size: .75em;
	display: inline-block;
	cursor: pointer; border: none;}
.btn,
.productSubmitInput{
	:after{content: '\00A0\203A'}
	:hover {background: #82985C;}
}

.btn.prev{
	:after{content: ''}
	:before{content:'\2039\00A0';}
}

.btn.no-arrow{
	:after,
	:before {content: '';}
}
/********************************************/